*
{ 
    margin: 0;
    padding: 0;
}

header, nav{ 
    display:block;
}

header{
    
    margin-left: auto; 
    margin-right: auto;
    height: 80px;
    border: 15px 15px 0px 0px; 
    background-color: rgba(5,5,197, 0.6);

}